--extra-index-url https://download.pytorch.org/whl/cu124

torch
torchvision
torchaudio

lightning==2.5.2
evaluate==0.4.5
pyarrow<21
fsspec<2024.0.0
matplotlib
transformers==4.53.2
wandb
hydra-core
scikit-learn
accelerate
